[Unit]
Description=Unique Download Manager
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=raj
WorkingDirectory=/home/raj/Development/unique_download_manager
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/raj/Development/unique_download_manager/venv/bin/python -u /home/raj/Development/unique_download_manager/app.py --host 0.0.0.0 --port 5000
KillSignal=SIGINT
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
